[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
flask-graphql = "*"
graphene = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
