click==6.7
Flask==1.0.2
Flask-GraphQL==1.4.1
graphql-core==2.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.5
promise==2.1
Rx==1.6.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
typing==3.6.4
Werkzeug==0.14.1
